---
layout: none
color: 
  primary: blue darken-3
  secondary: amber darken-1
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
{% include navbar.html %}
<body>
  <div class="container">
    <div class="section">

      <!-- Main Icon -->
      <div id="page-logo" class="container">
        <img class="clearfix" src="/img/logo.svg" alt="">
      </div>
      
      <!-- Panel -->
      <div class="weaves-effect card-panel white lighten-1">
        <span class="black-text lighten-4 valign center">
            <p class="valign center"> List of websites and whether or not they support Yubico OTP, HOTP U2F.</p>
            <p class="valign center"> Apps which support TOTP codes, SMS, Email but not other methods supported by Yubikey are excluded.</p>
        </span>
      </div>

      <!-- Search Bar -->
      <nav>
        <div class="nav-wrapper {{ page.color.secondary }}">
          <form>
            <div class="input-field white-text">
              <input id="search" type="search" required>
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
      </nav>

    <!-- Add V Space --> 
    <div style="height:200px"></div>

    </div> <!-- Section -->
  </div> <!-- Container -->

  <!-- Floating Action Button -->
  {% include fab.html %}
  <!-- Include Footer -->
  {% include footer.html %}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
  <script src="js/init.js"></script>
  </body>
</html>
