    <!-- Floating Action Butto -->
    <div class="fixed-action-btn">
        <a href="#" class="btn-floating {{ page.color.secondary }} btn-large"><i class="fas fa-share-alt"></i></a>
        <ul>
            <li><a href="#" class="disabled btn-floating telegram-color btn-large tooltipped" data-position="left" data-tooltip="Share via Messenger"><i class="fab fa-facebook-messenger"></i></a></li>
            <li><a href="#" class="btn-floating telegram-color btn-large tooltipped" data-position="left" data-tooltip="Share via Telegram"><i class="fab fa-telegram-plane"></i></a></li>
            <!--
            <li><a href="#" class="btn-floating medium-color btn-large tooltipped" data-position="left" data-tooltip="Share on Medium"><i class="fab fa-medium-m"></i></a></li>
            -->
            <li><a href="#" class="btn-floating reddit-color btn-large tooltipped" data-position="left" data-tooltip="Share on Reddit"><i class="fab fa-reddit-alien"></i></a></li>
            <li><a href="#" class="btn-floating amber darken-3 btn-large tooltipped" data-position="left" data-tooltip="Share via Email"><i class="fas fa-envelope"></i></a></li>
            <li><a href="#" class="btn-floating whatsapp-color btn-large tooltipped" data-position="left" data-tooltip="Share via Whatsapp"><i class="fab fa-whatsapp"></i></a></li>
            <li><a href="#" class="disabled btn-floating facebook-color btn-large tooltipped" data-position="left" data-tooltip="Share on Facebook"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#" class="btn-floating twitter-color btn-large tooltipped" data-position="left" data-tooltip="Share on Twitter"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#" class="btn-floating github-color btn-large tooltipped" data-position="left" data-tooltip="Open an Issue on Github"><i class="fab fa-github"></i></a></li>          
        </ul>
    </div>