<footer class="page-footer {{ page.color.primary }}">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="amber-text">About This Website</h5>
          <p class="grey-text text-lighten-5">Yubikeys are supported by several products. Though twofactorauth.org has an extensive list
          of wesites and status of 2FA support, it is not specific for Yubikeys.</p>
          <p>Some features like Yubi-Cloud-OTP, HMAC Challenge-Response are specific to Yubikeys and 
          needs its own place. This is an attempt at that. If your favorite website is not listed here, please submit an issue or create a Pull request on 
         Github.</p>


        </div>
        <div class="col l3 s12 offset-l3">
          <h5 class="amber-text">More Info</h5>
          <ul>
            <li><a class="white-text" href="{{ site.baseurl }}/restrictions">Restrictions for Websites</a></li>
            <li><a class="white-text" href="{{ site.baseurl }}/credits">Third Party Tools</a></li>
            <li><a class="white-text" href="{{ site.baseurl }}/edit">Add a Website</a></li>
            <li><a class="white-text" href="{{ site.baseurl }}/privacy">Privacy Policy</a></li>
            <li><a class="white-text" href="https://yubico.com">Yubico Website</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center">
      Made by <a class="white-text text-lighten-5" href="http://github.com/tprasadtp">Prasad Tengse</a>
      <a class="white-text text-lighten-5"> &copy; 2017-2018</a> 
      </div>
    </div>
  </footer>

