<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">

    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ site.url }}/{{ site.img }}">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:description" content="{{ page.description }}">

    <title>{{ site.title }}</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ site.baseurl }}/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!-- Favicons -->
    {% include favicon.html %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    {% if site.ga %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101760811-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.ga }}');
    </script>        
    {% endif %}
</head>