<div class="navbar-fixed">
    <!-- Nav Bar -->
    <nav class="{{ page.color.primary }}" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="{{ site.baeurl }}" class="brand-logo left hide-on-med-and-down white-text lightern-3">{{ site.title }}</a>
        <a id="logo-container" href="{{ site.baeurl }}" class="brand-logo center hide-on-large-only white-text lightern-3">{{ site.title }}</a>
        <ul class="right hide-on-med-and-down">
          <li class="active"><a href="{{ site.baseurl }}/"><i class="material-icons left">home</i>Home</a></li>
          <li><a href="{{ site.baseurl }}/contact/"><i class="material-icons left">account_box</i>Contact</a></li>
          <li><a href="https://github.com/tprasadtp/yubi-sites/"><i class="material-icons left">code</i>Github Repo</a></li>
          <li><a href="{{ site.baseurl }}/about/"><i class="material-icons left">info_outline</i>About</a></li>
          </ul>
  
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
</div>
<!-- Mobile Naigation Bar -->
<ul id="nav-mobile" class="sidenav">
  <li><h5 class="gray-text darken-4 center">YubiSites</h5></li>
  <li><div class="divider"></div></li>
  <li><a href="{{ site.baseurl }}/"><i class="material-icons left">home</i>Home</a></li>
  <li><a href="{{ site.baseurl }}/contact/"><i class="material-icons left">account_box</i>Contact</a></li>
  <li><a href="https://github.com/tprasadtp/yubi-sites"><i class="material-icons left">code</i>Github Repo</a></li>
  <li><a href="{{ site.baseurl }}/about/"><i class="material-icons left">info_outline</i>About</a></li>
  <li><a href="{{ site.baseurl }}/get/"><i class="material-icons left">get_app</i>Add to Homescreen</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">More</a></li>
  <li><a href="{{ site.baseurl }}/privacy/">Privacy Policy</a></li>
  <li><a href="{{ site.baseurl }}/credits/">Third Party Software</a></li>
  <li><a href="https://yubico.com/">Yubico Website</a></li>
</ul>
</ul>